:root {
  --accent-color: crimson;
  --actions-color: #333;
  --gray-500: lightgray;
  --secondary-background: #F4F4F4;
  --secondary-background-accent: #FFF;
  --list-border-color: var(--gray-500);
  --title-fonts: 'alternate-gothic-no-1-d, "Roboto Condensed", "Helvetica Neue", Helvetica, -apple-system, system-ui, sans-serif';
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

a {
  color: rgb(0, 100, 200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 80, 160);
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

button {
  all: unset;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-sizing: border-box;
  cursor: pointer;
  display: revert;
  -webkit-text-fill-color: currentColor;
}

button:hover {
	color: var(--accent-color);
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}

.svg-sprite {
	display: none;
}